body {
   background-image: url('imagenes/fondo.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed

	margin:0;
	padding: 0;
}

#contenedor {
	margin:0 auto;
	margin-top:50px;
	width: 800px;
	height: 500px;
	border-radius: 10px;
	padding: 10px;
	/*box-shadow: 1px 2px yellow;*/
	background: rgba(10,52,89,0.5);
	display: flex;
justify-content: center;
align-items: center;

}
#contenedor div {
width: 45%;
height: 45%;

}

#logear {
	color:white;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items:center;
	background: rgba(0,0,0,0.7);
	
	border-right: 5px solid rgba(75,63,25,0.6);
}
#registrar {
	margin-left: 15px;
	background-color: red;
}